h1 {
    position: absolute;
    top: 450px;
    left: 500px;
    font-size:50px;
}

div {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
    background-color: skyblue;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 5px;
    left: 350px;
    top: 200px;
    float: left;
    padding: 5px;
    border: 2px black solid;
    font-size: 20px;
}

audio{
    position:absolute;
    top:200px;
    height:0px;
    width:00px;
}

img{
    position:absolute;
    height: 100px;
    width: 100px;
}

#nah{
    left:-100px;
    top:-100px;
    width:0px;
    height:0px;
}

#riley {
    left:0px;
    top:100px;
    height:100px;
    width:100px;
    margin-left: auto;
}

#john {
    left:100px;
    top:100px;
    height:100px;
    width:100px;
}

#terry {
    left:200px;
    top:100px;
    height:100px;
    width:100px;
}

#nancy {
    left:300px;
    top:50px;
    height:150px;
    width:150px;
}

#ken {
    left:450px;
    top:50px;
    height:150px;
    width:150px;
}

#margot {
    left:600px;
    top:125px;
    height:75px;
    width:75px;
}

#alex {
    left: 675px;
    top: 100px;
    height: 100px;
    width: 100px;
}

#userControlled {
    height:0;
    width:0;
    position:absolute;
    top:2000px;
    left:2000px;
}